body
{
  background-color: yellow;
}

div
{
    border-radius: 5px;
}
h1
{
  color: black;
  margin: 22px;
  text-align:center 
}
h2
{
	text-decoration: underline
}
h3
{
    text-decoration: underline;
}
table
{
	border : 1px
		dashed black;
}
	
td
{
    padding: 2px;
    border: 1px solid #E88741;
}

var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myObj = this.responseText;
        var jsonPretty = JSON.stringify(JSON.parse(myObj),null,2);
        document.getElementById("demo").innerHTML = jsonPretty;
    }
};
xmlhttp.open("GET", "https://blockchain.info/fr/latestblock", true);
xmlhttp.send();
